.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    font-size:20px;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}

#news{
    height:100%
}

#chart{
    height:100%
}

#sg-map {
    height: 80vh
}

.link{
    color:grey;
}

.font{
    font-family:'Benne', serif ;
}

#hello{
    text-align:center;
    /* border: 3px solid black; */
    margin-top:150px;
    width:50%;
}

#hello h1{
    font-family:'Courgette', cursive;
    font-size:50px;
    animation-name: hello;
    animation-duration: 3s;
}

#mapCards{
    border:none;
    overflow:hidden;
}

#mapCards img{
    height:200px;
}

#caseCards{
    background-color: #8F9EA3;
    color:white
}

@keyframes hello{
    0%{transform: rotate(10deg)}
    25%{transform: rotate(-20deg)}
    50%{transform: rotate(10deg)}
    75%{transform: rotate(-20deg)}
    100%{transform: rotate(10deg)}
}

#hello p, #hello>div{
    font-size:20px;
    margin-top:30px;
    list-style-position: inside;
}


@media (min-width: 280px){
    h2{
        font-size: 8px;
    }

    .navbar-brand{
    position:static;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:10px 30px
    }
}


@media (min-width: 360px){
    h2{
        font-size: 10px;
    }

    .navbar-brand{
    position:static;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 40px
    }
}
@media (min-width: 768px){
    h2{
        font-size: 25px;
    }

    .navbar-brand{
    position:static;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 50px
    }
}

@media (min-width: 1200px){
    h2{
        font-size: 30px;
    }

    .navbar-brand{
    position:absolute;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 60px
    }

}