.newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 60px
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}

#news{
    height:80vh
}

@media (min-width: 320px){
    h2{
        font-size: 10px;
    }
}
@media (min-width: 768px){
    h2{
        font-size: 30px;
    }
}
@media (min-width: 1200px){
    h2{
        font-size: 30px;
    }
}