.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    font-size:20px;
}

.caroBtn{
    background-color: transparent;
    border:none
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}

#news{
    height:100%
}

.carousel-indicators  button {
    opacity:0.5;
    border-radius:5px;
    padding:0.5px 7px;
}

#chart{
    height:80vh
}

#sg-map {
    height: 80vh
}

.link{
    color:grey;
}

.font{
    font-family:'Benne', serif ;
}

#hello{
    text-align:center;
    /* border: 3px solid black; */
    margin-top:150px;
    width:50%;
}

#hello h1{
    font-family:'Courgette', cursive;
    font-size:50px;
    animation-name: hello;
    animation-duration: 3s;
}

#mapCards{
    border:none;
    overflow:hidden;
}

#mapCards img{
    height:200px;
}

#makeReport h1{
    font-size: 50px;
    text-align: center;
    padding-top:10px;

}

#makeReport p{
    font-size: 20px;
    text-align: center;
    
    padding-bottom:10px
}

#submit_btn{
    border-radius:10px
}

#missingImg{
    /* max-width: 100%; */
    height:20vh;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

#caseCards{
    /* background-color: #ffe8d6; */
    color:black;
    /* border-radius:12px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    line-height: 15px;
}

.pin{
    transform:rotate(30deg);
    font-size:27px;
    text-shadow: 5px 8px 8px gray;
}

@keyframes hello{
    0%{transform: rotate(10deg)}
    25%{transform: rotate(-20deg)}
    50%{transform: rotate(10deg)}
    75%{transform: rotate(-20deg)}
    100%{transform: rotate(10deg)}
}

#hello p, #hello>div{
    font-size:20px;
    margin-top:30px;
    list-style-position: inside;
}


@media (min-width: 280px){
    .newsheading h2{
        font-size: 8px;
    }

    .navbar-brand{
    position:static;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:10px 30px
    }

    #chartDetails{
    font-size: 20px;
    margin-top:30%;
    padding-left:10px;
    padding-right:10px;
    }
}


@media (min-width: 360px){
    .newsheading h2{
        font-size: 10px;
    }

    .navbar-brand{
    position:static;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 40px
    }

    #chartDetails{
    font-size: 20px;
    }
}

@media (min-width: 768px){
    .newsheading h2{
        font-size: 25px;
    }

    .navbar-brand{
    position:static;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 50px
    }

    #chartDetails{
    font-size: 25px;
    margin-top:60%;
    }

}

@media (min-width: 1200px){
    h2{
        font-size: 30px;
    }

    .navbar-brand{
    position:absolute;
    }

    .newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 60px
    }

}

