.body{
    font-family:'Benne', serif;
    background-color: pink
    };


.newsheading{
    background-color: rgba(161, 155, 155, 0.707);
    width:100%;
    padding:20px 60px
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}

#news{
    height:80vh
}

#sg-map {
    height: 80vh;
}

.link{
    color:grey;
}


@media (min-width: 280px){
    h2{
        font-size: 8px;
    }
    .navbar-brand{
    position:static;
    }
}

@media (min-width: 360px){
    h2{
        font-size: 10px;
    }
    .navbar-brand{
    position:static;
    }
}
@media (min-width: 768px){
    h2{
        font-size: 30px;
    }
    .navbar-brand{
    position:static;
    }
}
@media (min-width: 1200px){
    h2{
        font-size: 30px;
    }
    .navbar-brand{
    position:absolute;
    }
}